
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
node_modules/
bower_components/
*.log
*.tmp
*.temp
publish/
out/
dist/
appsettings.Development.json
secrets.json
.DS_Store
Thumbs.db
.idea/
*.DotSettings.user
*.nupkg
*.snupkg
packages/
